/target
/lib
/out
/classes
/checkouts
src/js/books*
pom.xml
*.jar
*.class
*.swp
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.lein-repl-history
.nrepl-port

*.iml
.idea
test/books/amazon/run_lookup.clj
src/js/books.js