.canvas {
    margin-left: 20px;
    margin-top: 20px;
    border: black 2px solid;
}

.checkbox-div {
}

.games-div {
    margin-top: 10px;
}

.checkbox-label {
    padding-left: 5px;
}

#controls {
    margin-left: 20px;
    margin-top: 15px;
}

#intro {
    margin-left: 20px;
    margin-top: 10px;
    width: 610px;
    font-size: small;
}