.canvas {
    margin-left: 20px;
    margin-top: 20px;
    border: black 2px solid;
}

#controls {
    margin-left: 20px;
    margin-top: 10px;
}

#intro {
    margin-left: 20px;
    margin-top: 10px;
    width: 700px;
}

#buttons {
    float: left;
}