#bgcanvas {
    z-index: 1;
}

#fgcanvas {
    z-index: 2;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
}

#controls {
    position: absolute;
    left: 0;
    top: 610px;
    margin: 20px;
}